@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <h2>Le Nostre Pizze</h2>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="text-center">Pizza Marinara</h5>
    </div>
    <div class="card-body">
        <img src="img/Marinara.jpg" class="rounded img-fluid"/>
        <div class="pt-2">
            <p><strong>Ingredienti:</strong> Pomodoro, Origano, Aglio, Basilico</p>
            <p><strong>Prezzo:</strong> 4,00 €</p>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="text-center">Pizza Margherita</h5>
    </div>
    <div class="card-body">
        <img src="img/Margherita.jpg" class="rounded img-fluid"/>
        <div class="pt-2">
            <p><strong>Ingredienti:</strong> Pomodoro, Mozzarella, Basilico</p>
            <p><strong>Prezzo:</strong> 5,00 €</p>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="text-center">Pizza Cotto&Funghi</h5>
    </div>
    <div class="card-body">
        <img src="img/Cotto&Funghi.jpg" class="rounded img-fluid"/>
        <div class="pt-2">
            <p><strong>Ingredienti:</strong> Pomodoro, Mozzarella, Prosc. Cotto, Funghi Porcini</p>
            <p><strong>Prezzo:</strong> 6,00 €</p>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="text-center">Pizza Quattro Formaggi</h5>
    </div>
    <div class="card-body">
        <img src="img/QuattroFormaggi.jpg" class="rounded img-fluid"/>
        <div class="pt-2">
            <p><strong>Ingredienti:</strong> Pomodoro, Mozzarella, </p>
            <p><strong>Prezzo:</strong> 6,50 €</p>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <h5 class="text-center">Pizza Salame</h5>
    </div>
    <div class="card-body">
        <img src="img/Salame.jpg" class="rounded img-fluid"/>
        <div class="pt-2">
            <p><strong>Ingredienti:</strong> Pomodoro, Mozzarella, Salame Milano</p>
            <p><strong>Prezzo:</strong> 5,50 €</p>
        </div>
    </div>
</div>


